This notebook parses latitude and longitude

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/finalDraft.csv', index_col=0)
df.head()

,X,businessName,DBAName,Address,CITY,STATE,ZIP,LICSTATUS,LICENSECAT,DESCRIPT,licenseadddttm,dayphn,Property_ID,Location,Category
1,1,# 7 RESTAURANT,NaN,225 Grove,West Roxbury,MA,2132.0,Active,FT,Eating & Drinking w/ Take Out,2007-03-23 15:20:59,1.000000e+10,156965.0,"(42.261873000, -71.157410000)",Other
2,2,100 Percent Delicia Food,NaN,635 Hyde Park,Roslindale,MA,2131.0,Active,FS,Eating & Drinking,2013-02-15 10:46:21,1.617477e+10,77476.0,"(42.278590000, -71.119440000)",LACuisine
3,3,1000 Degrees Pizza,NaN,55 Court,Boston,MA,2108.0,Active,FS,Eating & Drinking,2017-01-20 11:47:40,1.000000e+10,156226.0,"(42.359227000, -71.058878000)",Pizza
4,4,125 Nashua St. Cafe (MGH),NaN,125 Nashua,Boston,MA,2114.0,Active,FS,Eating & Drinking,2014-08-15 13:03:32,1.000000e+10,340055.0,"(42.367830000, -71.064950000)",Cafe
5,5,129 Lake Street Cafe,NaN,127 LAKE,Brighton/,MA,2135.0,Active,FS,Eating & Drinking,2010-10-14 12:49:26,1.617552e+10,0.0,"(0.000000000, 0.000000000)",Cafe

In [4]:
df['latitude'] = df['Location'].str.strip('(').str.split(',').str[0]
df['longitude'] = df['Location'].str.strip(')').str.split(',').str[1]
df.head()

,X,businessName,DBAName,Address,CITY,STATE,ZIP,LICSTATUS,LICENSECAT,DESCRIPT,licenseadddttm,dayphn,Property_ID,Location,Category,latitude,longitude
1,1,# 7 RESTAURANT,NaN,225 Grove,West Roxbury,MA,2132.0,Active,FT,Eating & Drinking w/ Take Out,2007-03-23 15:20:59,1.000000e+10,156965.0,"(42.261873000, -71.157410000)",Other,42.261873000,-71.157410000
2,2,100 Percent Delicia Food,NaN,635 Hyde Park,Roslindale,MA,2131.0,Active,FS,Eating & Drinking,2013-02-15 10:46:21,1.617477e+10,77476.0,"(42.278590000, -71.119440000)",LACuisine,42.278590000,-71.119440000
3,3,1000 Degrees Pizza,NaN,55 Court,Boston,MA,2108.0,Active,FS,Eating & Drinking,2017-01-20 11:47:40,1.000000e+10,156226.0,"(42.359227000, -71.058878000)",Pizza,42.359227000,-71.058878000
4,4,125 Nashua St. Cafe (MGH),NaN,125 Nashua,Boston,MA,2114.0,Active,FS,Eating & Drinking,2014-08-15 13:03:32,1.000000e+10,340055.0,"(42.367830000, -71.064950000)",Cafe,42.367830000,-71.064950000
5,5,129 Lake Street Cafe,NaN,127 LAKE,Brighton/,MA,2135.0,Active,FS,Eating & Drinking,2010-10-14 12:49:26,1.617552e+10,0.0,"(0.000000000, 0.000000000)",Cafe,0.000000000,0.000000000

In [5]:
df.to_csv('../data/finalDraft_with_lat_long.csv', index=False)